@mixin nav-current($height: 0) {
    &::after {
        height: $height;
        
        bottom: -2px;
        left: -4px;
    }
}
.navigation {

    margin: 15px 37px 0 0;

    clear: both;

    ul {
        margin: 0;
        padding: 0;


        list-style: none;
    }

    li {
        text-align: right;

        margin-bottom: 15px;
    }

    a {
        color: $brand-color;

        font-size: 14px;
        text-transform: uppercase;

        @include nav-current;

        &:hover {
            &::after {
                height: 3px;
            }
        }
    }

    .category-labs & {
        #menu-item-1223 a {
            @include nav-current(3px);
        }
    }

    .blog &, .single & {
        #menu-item-946 a {
            @include nav-current(3px);
        }
    }
}

.nav-links {
    display: flex;
    margin-bottom: 40px;
    > div {
        flex-grow: 1;

        max-width: 50%;
    }

    a {
        color: $white;
        background-color: rgba($brand-color, .25);
        
        display: block;

        padding: 10px;

        text-align: center;

        &:hover {
            
            background-color: $brand-color;

            &::after {
                display: none;
            }
        }

    }
}
