$font-text: 'Karla', sans-serif;
$font-heading: 'Work Sans', sans-serif;
$font-title: 'Playfair Display', serif;

$wider-container-width: 915px;
$container-width: 725px;

$dark-gray: #111;
$white: #FFF;

$mq-tablet-less: 1023px;
$mq-tablet-plus: 1024px;

$mq-mobile-less: 360px;

$line-height-computed: 16px
