.article {

    &__container {
        max-width: 640px;
        width: 100%;

        padding: 0 20px;
        margin: 0 auto;
    }

    &__content {

    }

    &__link {
        &::after {
            display: none;
        }
    }

    &__meta {

        .single & {
            margin-top: 120px;
        }

        font-size: 12px;
    }

    &__title {
        font-size: 48px;
    }

    &--mini {

        margin-bottom: 70px;

        position: relative;

        @include line(-30px, 50%);

        .article__title {
            margin: 10px 0 20px;

            font-size: 24px;
        }
    }
}
