.bio {

    &__container {
        @include container;
    }

    &__intro {
        text-align: center;
    }

    &__life {
        font-size: 24px;
    }

    &__title {
        margin-top: 60px;
        font-size: 40px;
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 700px;
        margin: 40px auto -55px;
        z-index: -1;
        position: relative;
        filter: grayscale(35%);
    }
}

.projects {

    &__container {
        @include container;
    }

    &__list {
        font-size: 18px;
    }

    &__item {

    }
}
